/*
    red: #E63946
    white: #E8F1F2
    navy: #13293D
    blue: #457B9D
    black: #00171F
    green: #6ccaad
*/

@font-face {
  font-family: "Kimberley";
  src: url("simplifica.ttf")
}


/*general CSS*/
body{
    font-family: 'Kimberley', sans-serif;
    color: #6ccaad;
    background-color: #00171F;
}
.page{
    text-align: center;
    top: 5%;
    width: 100%;
    height: 100vh;
}
hr{
    border: 2.5px dotted #13293D;
}



/*Image CSS*/
.waterGif{
    position: absolute;
    width:100%;
    height:100vh;
}



/* CSS for page page 1 Header*/
.header{
    font-size: 15vw;
    margin-top: 5%;
    letter-spacing: 4px;
}
.title{
    font-size: 10vw;
}
.subtitle{
    font-size: 5vw;
    letter-spacing: 2px;
}




/*CSS for page 2. The Jig*/
.page2{
    text-align: center;
    top: 5%;
    width: 100%;
    height: 100vh;
}
.imageContainer{
    border:1px solid blue;
}
.jigsImg{
    max-width:100%;
    border-radius: 10px;
    border: 2px solid #6ccaad;
}






/*CSS for page 3. Custom*/
.table{
    table-layout: fixed; /* evenly spaced */
    height:20vh;
}
td{
    font-size: 7vw;
    color: #00171F;
    overflow: hidden;
}
tr{
    border-style:hidden;
}
.color1{
    background-color: #ecf0f1;
}
.color2{
    background-color: #b4f209;
}
.color3{
    background-color: #FFD166;
}
.color4{
    background-color: #ff4c83;
}
.color5{
    background-color: #e74c3c;
}
.color6{
    background-color: #1F3A93;
}
.color7{
    background-color: #8e44ad;
}
.color8{
    background-color: #ff4c83;
}
.color9{
    background-color: #27ae60;
}


/*CSS for page 4 Affordable*/




/*CSS for page 5 deadly*/
.igContainer{
    margin-top: 10%;
}
.igImage:hover{
    width:205px;
}



/*CSS for contact*/
.nathanImg{
    width: 300px;
    border:1px solid #00171F;
    border-radius: 10px;
}
.nathanImg:hover{
    border:1px solid #E63946;
}
.igLink{
    color: #E63946;
    text-decoration: underline;
}
