/*
    red: #E63946
    white: #E8F1F2
    navy: #13293D
    blue: #457B9D
    black: #00171F
    green: #6ccaad
*/

@font-face {
  font-family: "Kimberley";
  src: url("simplifica.ttf")
}


/*general CSS*/
body{
    font-size: 100px;
    font-family: 'Kimberley', sans-serif;
    color: #6ccaad;
    background-color: #00171F;
}
.page{
    text-align: center;
    top: 5%;
    width: 100%;
    height: 100vh;
}
.title{
    letter-spacing: 4px;
}
hr{
    border: 2.5px dotted #13293D;
}



/*Image CSS*/
.waterGif{
    position: absolute;
    width:100%;
    height:100vh;
}



/* CSS for page page 1 Header*/
.header{
    letter-spacing: 4px;
}
.subtitle{
    letter-spacing: 2px;
    font-size: 0.4em;
}




/*CSS for page 2. The Jig*/
.page2{
    text-align: center;
    top: 5%;
    width: 100%;
    height: 100vh;
}
.imageContainer{
    border:1px solid blue;
}






/*CSS for page 3. Custom*/
.colorContainer{
    margin-left: 1%;
}
.table{
    border-style:hidden;
    table-layout: fixed; /* evenly spaced */
    height:70vh;
    width: 99%;
}
td{
    font-size: 0.5em;
    color: #00171F;
}
tr{
    border-style:hidden;
}
.color1{
    background-color: #FF6B6B;
}
.color2{
    background-color: #FFD166;
}
.color3{
    background-color: #06D6A0;
}
.color4{
    background-color: #118AB2;
}
.color5{
    background-color: #DB0A5B;
}
.color6{
    background-color: #ecf0f1;
}
.color7{
    background-color: #b4f209;
}
.color8{
    background-color: #1F3A93;
}



/*CSS for page 4 Affordable*/




/*CSS for page 5 deadly*/
.igContainer{
    margin-top: 10%;
}
.igImage:hover{
    width:205px;
}










.
